.became-concept {
  padding: 60px 0px;
}
.packages-slider {
  display: none;
}
.heading-wrapper {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-wrapper h2 {
  color: #141719;
  font-size: 24px;
  font-family: TBCXBold;
  line-height: 1.5;
}
.packages {
  display: flex;
  gap: 30px;
  max-height: 542px;
  width: 100%;
}

.digital-premium {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 542px;
  width: 100%;
  overflow: hidden;
}
.digital,
.premium {
  width: 100%;
  height: 256px;
  border-radius: 8px;
  overflow: hidden !important;
  position: relative;
}
.digital > img,
.premium > img,
.package-360 > img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out !important;
  overflow: hidden;
}

/* .premium img {
  transition: transform 0.3s ease-in-out !important;
} */
/* .digital img {
  transition: transform 0.3s ease-in-out !important;
} */
.premium:hover img,
.digital:hover img,
.package-360:hover img {
  transform: scale(1.025);
}
/* .digital:hover img {
  transform: scale(1.025);
} */

.package-360 > img {
  object-fit: cover;
  object-position: 93% 100% !important;
  transition: transform 0.5s ease-in-out !important;
}

/* .package-360:hover img {
  transform: scale(1.025);
} */
.package-360 {
  width: 100%;
  height: 100%;
  height: 542px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.package-360 > img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* .package-360:hover,
  .digital:hover,
  .premium:hover {
    background-size: 165%;
    background-repeat: no-repeat;
    background-position: center; }*/

.card-content {
  height: 100%;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px;
  display: flex;
}
.card-content h3 {
  color: #fff;
  font-family: TBCXBold;
  font-size: 24px;
}
.button-text {
  display: flex;
  gap: 6px;
}
.button-text a {
  transition: transform 0.6s ease-out;
  font-family: TBCXBold;
  line-height: 1.4;
  font-size: 14px;
  color: #fff;
}
.button-text img {
  height: 16px;
}
@media screen and (max-width: 767px) {
  .packages {
    display: none;
  }
  .mobile-slider {
    width: 100%;
  }
  .packages-slider {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    cursor: grab;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
  }
  .mobile-slider::-webkit-scrollbar {
    display: none;
  }
  .digital,
  .premium,
  .package-360 {
    min-width: 280px;
    height: 232px;
    overflow: hidden;
  }
  .digital > img,
  .premium > img,
  .package-360 > img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}
