footer {
  width: 100%;
  background-color: #fff;
  padding-left: 47px;
  padding-right: 47px;
  margin-top: 120px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1110px;
  margin: auto;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 50px;
}
.footer-change-lang {
  display: flex;
  gap: 6px;
  height: 40px;
  background-color: #f9fafa;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  align-items: center;
}
.footer-menu {
  padding-bottom: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-menu > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.footer-menu h4 {
  font-size: 16px;
  color: #141719;
  font-family: TBCXBold;
  margin-bottom: 4px;
  cursor: pointer;
}
.footer-menu p {
  font-size: 16px;
}
.footer-menu p:hover {
  color: #182cc0;
  cursor: pointer;
}
.footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #555f62;
}
.footer-link img {
  width: 16px;
  height: 16px;
}
.social-icons {
  display: flex;
  gap: 4px;
  margin-top: -4px;
}
.social-icons > div {
  width: 40px;
  height: 40px;
  background-color: #f9fafa;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
.social-icons > div:hover {
  color: #182cc0;
  background-color: #eee;
}
.cite-info {
  width: 100%;
  border-top: 1px solid #eef1f1;
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.cite-info > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cite-info img {
  width: 20px;
  height: 20px;
}
.footer-bottom-links {
  display: flex;
  gap: 35px !important;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .footer-content {
    padding-left: 0px;
  }

  .footer {
    padding-top: 40px;
  }
  .footer-logo {
    display: none;
  }
  .smaller-logo {
    display: block;
  }
  .footer-menu {
    display: block;
  }
  .footer-menu > div {
    border-bottom: 1px solid #555f62;
    width: 100%;
    padding: 36px 0px;
  }
  .footer-top {
    padding: 36px 0px;
    border-bottom: 1px solid #555f62;
  }
  .footer-menu h4 {
    font-size: 24px;
  }
  .cite-info {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    font-size: 14px;
  }
}
@media screen and (max-width: 476px) {
  .footer-menu h4 {
    font-size: 16px;
  }
}
