* {
  box-sizing: border-box;
  margin: 0;
}
 
body {
  overflow: hidden !important;
  margin: 0;
  color: #555f62;
  background-color: #f9fafa;
  font-family: TBCXRegular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  overflow: -moz-scrollbars-none !important; /* For Firefox */
  -ms-overflow-style: none !important;  /* For Internet Explorer and Edge */
  scrollbar-width: none !important;  /* For Firefox */
}
body::-webkit-scrollbar {
  display: none !important; /* For Chrome, Safari, and Opera */
}
.wrapper {
  padding-top: 80px;
  max-width: 1110px;
  min-height: 100vh;
  margin: auto;
}
.content-container {
  margin-top: 80px;
  display: flex;
  position: relative;
  height: calc(100vh - 80px);
}
.vertical-custom-scrollbar {
  width: 10px;
  background-color: #f0f0f0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.vertical-scrollbar-thumb {
  width: 100%;
  background-color: #888;
  cursor: pointer;
  position: absolute;
  top: 0;
  border-radius: 5px;
}
@media screen and (max-width: 1180px) {
  .padding-global {
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (max-width: 991px) {
  .padding-global {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media screen and (max-width: 767px) {
  .home-hero > .padding-global {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 476px) {
  .padding-global {
    padding: 0px 15px;
  }
}
main {
  position: relative;
  min-height: calc(100vh - 80px);
  height: 100vh;
}
@font-face {
  font-family: TbcXBold;
  src: url("../assets/fonts/TBCXBold.6db5e61d.woff2");
}
@font-face {
  font-family: TbcXMedium;
  src: url("../assets/fonts/TBCXMedium.8ef1248a.woff2");
}
@font-face {
  font-family: TbcXRegular;
  src: url("../assets/fonts/TBCXRegular.dee156cc.woff2");
}
