.numbers-section {
  width: 100%;
  gap: 30px;
  padding: 60px 0px;
}
.numbers {
  display: flex;
  gap: 30px;
  width: 100%;
}
.data {
  width: 100%;
  padding: 40px 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  background-color: #fff;
}
.count {
  font-size: 44px;
  color: #141719;
  font-family: TBCXBold;
  line-height: 1.3;
}
.data > p {
  color: #555f62;
  font-size: 16px;
  font-family: TBCXMedium;
}
@media screen and (max-width: 767px) {
  .numbers {
    flex-direction: column;
  }
}
@media screen and (max-width: 476px) {
  .count {
    font-size: 36px;
  }
  .data {
    padding: 24px;
  }
  .data > p {
    font-size: 14px;
  }
  .numbers-section {
    padding: 36px 0px;
  }
}
