.offers {
  padding: 60px 0px;
}
.offers-slider {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  cursor: grab;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  transform: translate3d(0px 0px 0px);
  scroll-snap-type: x mandatory;
  padding-bottom: 38px;
}
.offers-slider:active {
  cursor: grabbing;
}
.offers-slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.offers-slider::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  position: absolute;
  height: 2px;
  bottom: 10px;
  left: 0;
  width: calc(100%-92px);
  right: 92px;
  background-color: #d1d5d6;
}
.scrollbar-thumb {
  height: 100%;
  width: 300px;
  background-color: #182cc0;
  border-radius: 1px;
  transition: width 0.3s ease;
  cursor: grab;
  position: absolute;
}
.scrollbar-thumb:active {
  cursor: grabbing;
}
.offer {
  position: relative;
  border: 1px solid #e1e4e5;
  border-radius: 8px;
  min-width: 350px;
  height: 390px;
  overflow: hidden;
}
.offer > img {
  width: 100%;
  height: 60%;
  transition: transform 0.3s ease-in-out;
}
.offer:hover img {
  transform: scale(1.025);
}
.card-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 28px;
  position: relative;
}
.offer-logo {
  position: absolute;
  width: 78px;
  height: 56px;
  background-color: #fff;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
  border: none;
  right: 0;
  top: -200px;
}
.categories {
  display: flex;
  color: #6f787b;
  font-family: TBCXBold;
  font-size: 12px;
}
.categories p {
  margin-right: 12px;
}
.card-description h3 {
  color: #141719;
  font-size: 16px;
  font-family: TBCXMedium;
}
.scrollbar-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 2px;
  position: relative;
}
.arrows {
  display: flex;
  gap: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.arrow-disabled {
  fill: #d1d5d6;
}
@media screen and (max-width: 767px) {
  .arrows {
    display: none;
  }
  .custom-scrollbar {
    width: 100%;
  }
}
@media screen and (max-width: 476px) {
  .offers {
    padding: 36px 0px;
  }
  .heading-wrapper {
    margin-bottom: 20px;
  }
  .offer {
    min-width: 280px;
  }
}
